<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h4>rooms page</h4>
    <form action="newurl" method="get">
        <button type="submit">new meeting</button>
    </form>
  <form action="joinurl" method="post">
    <input type="text" id="roomurl" name="roomurl" required>
    <button type="submit">joinroom</button>
  </form>
</body>
</html>